<section class="login-bg full-height">
  <div class="container">
      <div class="login">
        <form action="" class="login-form">
          <img class="login-logo" src="../../../assets/images/movida-autowpp.svg" alt="Logo Movida AutoWpp">
          <h1 class="font-m-bold color-secondary">Login</h1>
          <div>
            <app-autowpp-label for="usuario" label="Nome de usuário"></app-autowpp-label>
            <app-autowpp-input type="text" name="usuario" id="usuario" placeholder="Digite seu usuário"></app-autowpp-input>
          </div>
          <div>
            <app-autowpp-label for="senha" label="Senha"></app-autowpp-label>
            <app-autowpp-input type="password" name="senha" placeholder="Digite sua senha"></app-autowpp-input>
          </div>
          <app-autowpp-button type="submit" label="Entrar" variant="full-width"></app-autowpp-button>
        </form>
        <div>
          <img class="login-img" src="../../../assets/images/familia.png" alt="Família passeando de carro">
        </div>
      </div>
    </div>
</section>
