<section class="login-bg full-height">
  <div class="container">
    <div class="login">
      <form action="" class="login-form">
        <img
          class="login-logo"
          src="../../../assets/images/movida-autowpp.svg"
          alt="Logo Movida AutoWpp"
        />
        <h1 class="font-m-bold color-secondary">Login</h1>
        <div>
          <app-autowpp-label
            for="userName"
            label="Nome de usuário"
          ></app-autowpp-label>
          <app-autowpp-input
            [(value)]="userName"
            type="text"
            name="userName"
            id="userName"
            placeholder="Digite seu usuário"
          ></app-autowpp-input>
        </div>
        <div>
          <app-autowpp-label for="password" label="Senha"></app-autowpp-label>
          <app-autowpp-input
            [(value)]="password"
            type="password"
            name="password"
            placeholder="Digite sua senha"
          ></app-autowpp-input>
        </div>
        <div *ngIf="error" class="error">
          Verifique os dados e tente novamente
        </div>
        <app-autowpp-button
          type="submit"
          label="Entrar"
          variant="full-width"
          (click)="login()"
        ></app-autowpp-button>
      </form>
      <div>
        <img
          class="login-img"
          src="../../../assets/images/familia.png"
          alt="Família passeando de carro"
        />
      </div>
    </div>
  </div>
</section>
