.autowpp-input{
  font-size: 1rem;
  background: var(--color-1);
  border: 2px solid var(--color-4);
  padding: 12px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.autowpp-input:focus{
  outline: none;
  border-color: #ffa889;
  background: var(--color-1);
  box-shadow: 0 0 0 2px #ffcab7;
}
