<header class="autowpp-header-bg">
  <div class="autowpp-header container">
    <a href=""
      ><img
        class="header-logo"
        src="../../../assets/images/movida-autowpp-white.svg"
        alt="Logo Movida AutoWpp Branca"
    /></a>
    <nav>
      <ul class="header-content">
        <li><a href="">Conexões</a></li>
        <li><a href="">Planilhas</a></li>
        <li><a href="">Usuários</a></li>
        <li>
          <app-autowpp-button
            (click)="logOut()"
            variant="small-outline"
            icon="logout"
            label="Sair"
          ></app-autowpp-button>
        </li>
      </ul>
    </nav>
  </div>
</header>
