table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 27px 43px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: var(--secondary-color);
}

.autowpp-table {
  padding: 29px 43px;
  background: white;
  border-radius: 10px;
}
