table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 27px 43px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: var(--secondary-color);
}

.autowpp-table {
  padding: 29px 43px;
  background: white;
  border-radius: 10px;
}

.text {
  display: flex;
  align-items: center;
  gap: 15px;
}

.green {
  color: #64c75b;
}

.yellow {
  color: #ffab00;
}

.red {
  color: #e73939;
}
