<div style="width: 400px; padding: 40px">
  <app-autowpp-button label="Teste" variant="small"></app-autowpp-button>
  <br /><br />
  <app-autowpp-button label="Teste" variant="default"></app-autowpp-button>
  <br /><br />
  <app-autowpp-button label="Teste" variant="full-width"></app-autowpp-button>
  <br /><br />
  <app-autowpp-button label="Entrar" variant="default-outline"></app-autowpp-button>
  <app-autowpp-label for="Teste" label="Teste"></app-autowpp-label>
  <app-autowpp-input id="Teste" name="Teste"></app-autowpp-input>
</div>
