.small {
  font-size: 14px;
  padding: 6px 12px;
}

.default {
  font-size: 1rem;
  padding: 15px 30px;
}

.full-width {
  font-size: 1rem;
  padding: 15px 30px;
  width: 100%;
}

.autowpp-button {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #ff5000;
  border: none;
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 9px 9px rgba(0, 0, 0, 0.09))
    drop-shadow(0px 20px 12px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 35px 14px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 54px 15px rgba(0, 0, 0, 0));
}

.autowpp-button:hover {
  opacity: .9;
}
