.autowpp-button {
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: none;
  color: var(--color-1);
  cursor: pointer;
}

.default {
  font-size: 1rem;
  padding: 15px 30px;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.10));
}

.default-outline {
  font-size: 1rem;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.full-width {
  font-size: 1rem;
  padding: 15px 30px;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.10));
  width: 100%;
}

.small {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 5px;
}

.autowpp-button:hover {
  opacity: .9;
}

.default-outline:hover {
  color: var(--color-1);
  background-color: var(--primary-color);
}
